.footer__copyright {
  max-width: 100%;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #545454;
  margin: 0;
}

@media screen and (min-width: 981px) and (max-width: 1279px) {
  .footer__copyright {
    max-width: 581px;
  }
}

@media screen and (min-width: 321px) and (max-width: 980px) {
  .footer__copyright {
    max-width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    max-width: calc(100% - 38px);
    font-size: 0.875rem;
    line-height: 1.2;
  }
}
