.element__like-qty {
    min-width: 10px;
    max-height: 13px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    margin: 6px 0 0;
    padding: 0;
}