.element__like {
  min-width: 22px;
  min-height: 19px;
  align-self: center;
  background-color: #fff;
  background-image: url(../../../images/like__inactive.svg);
  border: 0;
  opacity: 1;
}

.element__like:hover {
  cursor: pointer;
  opacity: 0.5;
}
